
# =========================
# Python cache
# =========================
pycache/
*.pyc
*.pyo

# =========================
# Jupyter 
# =========================
.ipynb_checkpoints/

# =========================
# YOLO outputs 
# =========================
runs/
yolo_runs/
predict/
results/



# =========================
# Model weights 
# =========================
*.pt
*.pth

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
