# =========================
# Python cache
# =========================
pycache/
*.pyc
*.pyo

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/
.config/
sample_data/

# =========================
# YOLO outputs 
# =========================
runs/
yolo_runs/
predict/
results/

# =========================
# Dataset 
# =========================
dataset/
augmented_data/
original_data/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
